<div class="pf2e chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{data.description.value}}}
    </div>

    <div class="card-buttons">
        {{#if data.isSave}}<span>Save DC {{data.save.dc}} ({{data.save.str}})</span>{{/if}}
        {{#if data.isAttack}}<button data-action="featAttack">Attack</button>{{/if}}
        {{#if data.damage.value}}<button data-action="featDamage">Damage</button>{{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
