<div class="pf2e chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item.id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3>{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{{data.description.value}}}

        {{#if data.materials.value}}
        <p><strong>Required Materials.</strong> {{data.materials.value}}</p>
        {{/if}}
    </div>

    <div class="card-buttons">
        {{#if data.isSave}}<span>Save DC {{data.save.dc}} {{data.save.basic}} {{data.save.str}}</span>{{/if}}
        {{#if data.isAttack}}<button data-action="spellAttack">Attack</button>{{/if}}
        {{#if data.damage.value}}<button data-action="spellDamage">{{data.damageLabel}}</button>{{/if}}
    </div>

    <footer class="card-footer">
        {{#each data.properties}}
        <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
