<form class="{{cssClass}}" autocomplete="off">

    <!-- HEADER -->
    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
        </h1>

        <div class="charlevel">
            <div class="level">
                <label>Level </label>
                <input name="data.details.level.value" type="text" value="{{data.details.level.value}}"
                        data-dtype="Number" placeholder="1"/>
            </div>
        </div>
    </header>

<!-- SIDEBAR -->
<section class="sheet-sidebar sidebar">

        <!-- ABILITY SCORES -->
        <div class="abilities" data-group="sidebar" data-tab="abilities">
            
            <h3 class="ac-title pf-heading">Defences</h3>
            <ol class="npc-defence-list">                
                <span class="armor-class" title="Armor Class">
                    <input name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
                            data-dtype="Number" placeholder="10"/>
                </span>
                <span class="shield-value" title="Shield Bonus">
                    <input name="data.attributes.shield.value" type="text" value="{{data.attributes.shield.value}}"
                            data-dtype="Number" placeholder="+0"/>
                </span> 
                <div class="hp-current pf-container">
                        <h4 class="hp-current pf-title">Current HP</h4>
                        <span class="hp-current pf-value pf-large" title="Your current hit points">
                            <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}"
                                    data-dtype="Number" placeholder="10"/>
                        </span>
                    </div>
                    <div class="hp-max pf-container">
                        <h4 class="hp-max pf-title">Max HP</h4>
                        <span class="hp-max pf-value pf-large" title="Your maximum hit points">
                            <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}"
                                    data-dtype="Number" placeholder="10"/>
                        </span>
                    </div>             
            </ol>
               
            <h3 class="defense-title pf-heading">Perception</h3>
            <ol class="defense-list">                
                    
                    <li class="npc-defense" data-attribute="perception">
                        <span class="defense-score">
                        <input name="data.attributes.perception.value" type="text" value="{{data.attributes.perception.value}}"
                            data-dtype="Number" placeholder="10"/>
                        </span>
                        <h4 class="attribute-name rollable">{{data.attributes.perception.label}}</h4>                             
                    </li>
                
            </ol>


            <h3 class="defense-title pf-heading">Saves</h3>
            <ol class="defense-list">
                
                {{#each data.saves as |save sid|}}
                    <li class="npc-defense" data-save="{{sid}}">
                        <span class="defense-score" title="{{save.breakdown}}">
                                <input name="data.saves.{{sid}}.value" type="text" value="{{save.value}}"
                                data-dtype="Number" placeholder="10"/>
                        </span>
                        <h4 class="save-name rollable">{{save.label}}</h4>                    
                    </li>
                {{/each}}
            </ol>

            <h3 class="defense-title pf-heading">Traits</h3>
            <ol class="bio-list">                
                    
                    <div class="bio-item trait-size pf-container">    
                            <label class="pf-title">{{data.traits.size.label}}</label>
                            <select class="pf-value pf-small pf-width-100" name="data.traits.size.value" data-dtype="{{data.traits.size.type}}">
                                {{#select data.traits.size.value}}
                                {{#each actorSizes as |label size|}}
                                    <option value="{{size}}">{{label}}</option>
                                {{/each}}
                                {{/select}}
                            </select>                        
                    </div>
                    
                    <div class="npc-bio-item trait-size pf-container">
                        <label class="pf-title">Speed</label>
                        <span class="pf-value pf-small pf-width-100" title="Your characters speed">
                            <input type="text" name="data.attributes.speed.value" data-dtype="{{data.attributes.speed.type}}"
                                value="{{data.attributes.speed.value}}" placeholder="None"/>
                        </span>
                    </div>
                
            </ol>
<!--             <h3 class="defense-title pf-heading" for="data.traits.skills">
                Image
                <a class="trait-selector" data-options="skills"><i class="fas fa-edit"></i></a>
            </h3> -->
            <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img"/>
            
        </div>
    </section>

    <!-- BODY -->
    <section class="sheet-body content">

            <!-- Items List -->
            <ol class="actions-list inventory-list directory-list">
                <!-- Action Header -->
                <li class="item action-header">
                    <h3 class="item-name pf-heading pf-actions" style="display: block; padding-left: 44px">Actions</h3>
                    {{#if owner}}
                    <div class="item-controls">
                        <a class="item-control item-create pf-heading" title="Create Action" data-type="action" data-action-type="action"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>       
                
                <!-- List Actions -->
                {{#each actor.actions as |section sid|}}
                    {{#each section.actions as |action aid|}}
                    <li class="item" data-item-id="{{action.id}}">
                        <div class="item-name rollable">
                            <div class="item-image" style="background-image: url({{action.img}})"></div>
                            <h4>
                                {{action.name}}
                            </h4>
                        </div>
                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>                            
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                {{/each}}


                <!-- Attacks Header -->
                <h3 class="item-name pf-heading pf-actions">Attacks</h3>
                <ol class="npc-defense-list">     
                    <li class="npc-defense" data-attribute="simple">
                        <span class="defense-score">
                        <input name="data.martial.simple.value" type="text" value="{{data.martial.simple.value}}"
                            data-dtype="Number" placeholder="10"/>
                        </span>
                        <h4 class="attribute-name">Base Attack Value</h4>                             
                    </li>
                </ol>

                <!-- List Attacks -->
                {{#each actor.attacks as |section sid|}}
                    <li class="item inventory-header sub-category spellbook-header">
                        <h3 class="item-name pf-sub-category pf-actions">{{section.label}}</h3>
                        {{#if ../owner}}
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create Attack" data-type="{{section.type}}" data-action-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
                        </div>
                        {{/if}}
                    </li>
                    {{#each section.items as |item iid|}}
                    <li class="item" data-item-id="{{item.id}}">
                        <div class="melee-name rollable">
                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                            <h4>
                                {{item.name}}
                            </h4>
                            <div class="melee-buttons">
                                <span class="tag"><button data-action="weaponAttack" >Strike (+{{item.data.bonus.total}})</button></span>
                                <span class="tag"><button data-action="weaponAttack2" >{{#unless item.data.isAgile}}-5{{else}}-4{{/unless}}</button></span>
                                <span class="tag"><button data-action="weaponAttack3" >{{#unless item.data.isAgile}}-10{{else}}-8{{/unless}}</button></span>
                                {{#unless item.data.damage.dice}}
                                <span class="tag"><button data-action="weaponDamage">Damage ({{item.data.damage.die}})</button></span>    
                                {{else}}
                                <span class="tag"><button data-action="weaponDamage">Damage ({{item.data.damage.dice}}{{item.data.damage.die}}+{{../../data.abilities.str.mod}})</button></span>    
                                {{/unless}}
                            </div>
                        </div>
                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            {{#unless action.feat}}
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            {{/unless}}
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                {{/each}}


                <!-- <ol class="spellcastingEntry-list directory-list" style="height: auto;"> -->
                    {{#each actor.spellcastingEntries as |entry eid|}}  
                        <li class="item action-header item-container" data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                            <!-- <div class="action-header"> -->
                                {{#if entry.data.prepared.preparedSpells}}
                                    <a class="skill-name prepared-toggle" title="Toggle Spell Visibility" style="line-height: 24px; background: var(--primary-background); color: white;"><i class="fas fa-haykal"></i></a>
                                {{/if}}
                                <h3 class="item-name pf-heading pf-actions" style="display: block; flex: 20;">{{{entry.name}}}</h3>
                                {{#if ../owner}}
                                <div class="item-controls" style="display: flex; background: var(--primary-background);">
                                    <a class="item-control spellcasting-remove" title="Remove Spellcasting Entry" data-type="{{eid}}" style="align-self: center; flex: 1;  color: white;"><i class="fas fa-minus"></i> Del</a>
                                </div>
                                {{/if}}
                        </li>
                        <li class="item action-header item-container" data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                            <!-- </div> -->
                            <ol class="npc-defense-list" style="grid: 'dc attack' 40px;">
                                <li class="npc-defense" data-spelldc-attribute="dc">
            
                                    <span class="defense-score spelldc-input">
                                        <input name="data.items.{{eid}}.data.spelldc.dc" type="text" value="{{entry.data.spelldc.dc}}"
                                                data-dtype="Number" placeholder="0"/>
                                    </span>
                                    <h4 class="spelldc-name">Spell DC</h4>                             
                                    
                    
                                </li>
                                <li class="npc-defense" data-spelldc-attribute="value">
            
                                        <span class="defense-score spelldc-input">
                                            <input name="data.items.{{eid}}.data.spelldc.value" type="text" value="{{entry.data.spelldc.value}}"
                                                    data-dtype="Number" placeholder="0"/>
                                        </span>
                                        <h4 class="spelldc-name">Spell Attack</h4>                             
                                        
                        
                                    </li>                                
                            </ol>
                        </li>
                        <li class="item action-header item-container" data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">

                            {{#unless entry.data.prepared.preparedSpells}}

                            <!-- Everything except prepared spells -->
                            <!-- <ol class="inventory-list directory-list" style="margin-bottom: 2px"> -->
            
                                    <!-- Add section for each spell level -->
                                    {{#each entry.spellbook as |section lvl|}}
                                        <li class="item inventory-header spellbook-header item-container" style="background: var(--secondary-background);" data-item-id="{{entry.id}}" data-level="{{lvl}}" 
                                            data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                                            <div class="item-name flexrow">
                                                <h3>{{section.label}}</h3>
                                
                                                {{#unless entry.data.tradition.ritual}}
                                                    {{#unless section.isCantrip}}
                                                    <span class="spell-slots-input">
                                                        <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                                                    </span>
                                                    <span class="flex0"> / </span>
                                                    <span class="spell-max-input">
                                                        <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                                                    </span>
                                                    {{else}}
                                                    <span class="spell-slots">&infin;</span>
                                                    <span class="flex0"> / </span>
                                                    <span class="spell-max">&infin;</span>
                                                    {{/unless}}
                                                {{/unless}}
                                            </div>
                                
                                            <!-- <div class="spell-school-header">School</div>
                                            <div class="spell-action-header">Action</div> -->
                                
                                            {{#if ../../owner}}
                                            <div class="item-controls">
                                                <a class="item-control spell-create" title="Create Spell" data-type="spell"
                                                    data-level="{{lvl}}" data-location="{{entry.id}}"><i class="fas fa-plus"></i></a>
                                                <a class="item-control spell-browse" title="Open Spell Browser" data-type="spell"
                                                    data-level="{{lvl}}" data-location="{{entry.id}}"><i class="fas fa-search"></i></a>
                                            </div>
                                            {{/if}}
                                        </li>
                                
                                        <!-- Add spell items for each spell level -->
                                        {{#each section.spells as |item i|}}
                                        <li class="item item-container" data-item-id="{{item.id}}" data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                                            <div class="item-name rollable">
                                                <div class="item-image" style="background-image: url({{item.img}})"></div>
                                                <h4>{{item.name}}</h4>
                                            </div>
                                
                                            <!-- <div class="spell-school">{{item.data.school.str}}</div>
                                            <div class="spell-action">{{item.data.time.value}}</div> -->
                                
                                            {{#if ../../../owner}}
                                            <div class="item-controls">
                                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </div>
                                            {{/if}}
                                        </li>
                                        {{/each}}
                                        
                                
                                    {{else}}
                                        <!-- Add Spells Row -->
                                        <li class="item inventory-header spellbook-header spellbook-empty item-container" data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                                            {{#if ../owner}}
                                            <div class="item-controls pf-bluelist pf-add-item-row" style="display: flex; flex: 1; background: var(--secondary-background);">
                                                <a class="item-control spell-create" title="Create Spell" data-type="spell"
                                                    data-level="{{lvl}}" data-location="{{entry.id}}" style="flex: 1;"><i class="fas fa-plus"></i> Add Spell</a>
                                                <a class="item-control spell-browse" title="Open Spell Browser" data-type="spell"
                                                    data-level="{{lvl}}" data-location="{{entry.id}}" style="flex: 1;"><i class="fas fa-search"></i> Open Spell Browser</a>
                                            </div>
                                            {{/if}}
                                        </li>
                                    {{/each}}
                                <!-- </ol> -->
                        {{else}}
                        
                            <!-- Prepared Spells -->
                            <!-- <ol class="inventory-list directory-list"> -->
            
                                <!-- Add section for each level -->
                                {{#each entry.spellbook as |section lvl|}}
                                    <li class="item inventory-header spellbook-header item-container" style="background: var(--secondary-background);" data-item-id="{{entry.id}}" data-level="{{lvl}}" 
                                        data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                                        <div class="item-name flexrow">
                                            <h3>{{section.label}}</h3>
                            
                                            {{#if section.isFocus}}
                                            <span class="spell-slots-input">
                                                <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.value" value="{{section.uses}}" placeholder="0"/>
                                            </span>
                                            <span class="flex0"> / </span>
                                            <span class="spell-max-input">
                                                <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                                            </span>
                                            {{else}}
                                            <span class="spell-max-input">
                                                <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0"/>
                                            </span>
                                            {{/if}}
                                        </div>
                            
                                        <!-- <div class="spell-school-header">School</div>
                                        <div class="spell-action-header">Action</div> -->
                            
                                        {{#if ../../owner}}
                                        <div class="item-controls">
                                            <a class="item-control spell-create" title="Create Spell" data-type="spell"
                                                data-level="{{lvl}}" data-location="{{entry.id}}"><i class="fas fa-plus"></i></a>
                                            <a class="item-control spell-browse" title="Open Spell Browser" data-type="spell"
                                                data-level="{{lvl}}" data-location="{{entry.id}}"><i class="fas fa-search"></i></a>
                                        </div>
                                        {{/if}}
                                    </li>
                            
                                    {{#unless section.isFocus}}
                                        {{#each section.prepared as |item i|}}
                                        
                                            {{#if item.prepared}}    
                                                <li class="item item-container" data-item-id="{{item.id}}" data-slot-id="{{i}}" data-spell-lvl="{{lvl}}" data-entry-id="{{entry.id}}" data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                                                    <div class="item-name">                    
                                                        <div class="item-image" style="background-image: url({{item.img}})"></div>
                                                        <h4>{{item.name}}</h4>
                                                    </div>
                            
                                                    <!-- <div class="spell-school">{{item.data.school.str}}</div>
                                                    <div class="spell-action">{{item.data.time.value}}</div> -->
                                    
                                                    {{#if ../../../owner}}
                                                    <div class="item-controls">
                                                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                                        <a class="item-control item-unprepare" title="Unprepare Item"><i class="fas fa-minus-square"></i></a>
                                                    </div>
                                                    {{/if}}
                                                </li>
                                            {{else}}
                                                <li class="item item-container" data-item-id="{{i}}" data-spell-lvl="{{lvl}}" data-item-type="spellSlot" data-entry-id="{{entry.id}}" data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                                                    <div class="item-name" style="padding-left:30px;">
                                                        <h4>{{item.name}}</h4>
                                                    </div>
                                                </li>
                                            {{/if}}
                                        
                                        {{/each}}
                            
                                        
                                        
                                        {{#if entry.showUnpreparedSpells}}
                                        <h3 class="item-name pf-sub-category pf-actions" style="background: var(--tertiary-background);">Unprepared Spells</h3>
                                                
                                        <!-- Unprepared Spells -->
                                            {{#each section.spells as |item i|}}
                                                <li class="item" data-item-id="{{item.id}}">
                                                    <div class="item-name rollable">
                                                        <div class="item-image" style="background-image: url({{item.img}})"></div>
                                                        <h4>{{item.name}}</h4>
                                                    </div>
                            
                                                    <!-- <div class="spell-school">{{item.data.school.str}}</div>
                                                    <div class="spell-action">{{item.data.time.value}}</div> -->
                            
                                                    {{#if ../../../owner}}
                                                    <div class="item-controls">
                                                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                                    </div>
                                                    {{/if}}
                                                </li>
                                            {{/each}}
                                        {{/if}}
                                    {{else}}
                                        <!-- Add spell items for each level -->
                                        {{#each section.spells as |item i|}}
                                        <li class="item" data-item-id="{{item.id}}">
                                            <div class="item-name rollable">
                                                <div class="item-image" style="background-image: url({{item.img}})"></div>
                                                <h4>{{item.name}}</h4>
                                            </div>
                            
                                            <!-- <div class="spell-school">{{item.data.school.str}}</div>
                                            <div class="spell-action">{{item.data.time.value}}</div> -->
                            
                                            {{#if ../../../owner}}
                                            <div class="item-controls">
                                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                            </div>
                                            {{/if}}
                                        </li>
                                        {{/each}}
                                    {{/unless}}
                                        
                        
                
                                {{else}}
                                <!-- Add spells row -->
                                <li class="item inventory-header spellbook-header spellbook-empty item-container" data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                                    {{#if ../owner}}
                                    <div class="item-controls pf-bluelist pf-add-item-row" style="display: flex; flex: 1; background: var(--secondary-background);">                                        
                                        <a class="item-control spell-create" title="Create Spell" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry.id}}" style="flex: 1;"><i class="fas fa-plus"></i> Add Spell</a>
                                        <a class="item-control spell-browse" title="Open Spell Browser" data-type="spell"
                                            data-level="{{lvl}}" data-location="{{entry.id}}" style="flex: 1;"><i class="fas fa-search"></i> Open Spell Browser</a>
                                    </div>
                                    {{/if}}
                                </li>
                            {{/each}}
                        <!-- </ol> -->


                        {{/unless}}



















                        </li>

                    <!-- for each actor.spellcastingEntry -->
                    {{/each}}
                <!-- </ol> -->

                
                <li class="item action-header" style="display: flex;">
                    {{#if owner}}
                    <div class="item-controls pf-bluelist pf-add-item-row" style="display: flex; flex: 1;">
                        <a class="item-control spellcasting-create" title="Create Spell" data-type="spell"
                            data-level="{{lvl}}" style="flex: 1; color: white;"><i class="fas fa-plus"></i> Add Spellcasting Entry</a>
                    </div>
                    {{/if}}
                </li>
                

                <!-- Skill Header -->
                <li class="item action-header">
                    <h3 class="item-name pf-heading pf-actions" style="display: block; padding-left: 44px">Skills</h3>
                    {{#if owner}}
                    <div class="item-controls">
                        <a class="item-control item-create pf-heading" title="Create Skill" data-type="lore"><i class="fas fa-plus"></i> Add</a>
                    </div>
                    {{/if}}
                </li>                    

                <!-- Skill List -->
                <!-- Note: I'm likely going to need to heavily modify lore as an item type or create a new item type for NPC skills. -->
                {{#each actor.lores as |lore lid|}}
                    <li class="item" data-skill="{{s}}" data-item-id="{{lore.id}}">

                        <div style="display: grid; grid: 24px / 28px 28px auto">

                        
                            <div class="npc-skill-name rollable">
                                <!-- <div class="item-image" style="background-image: url({{lore.img}})"></div> -->
                                <img class="npc-skill-image" src="{{lore.img}}" title="{{lore.name}}" height="24" width="24" style="border: none" />
                                <!-- Roll -->
                            </div>
                            
                            <div class="skill-input">
                                <input name="item-value-skill-{{lore.id}}" data-item-id="{{lore.id}}" type="text" data-dtype="Number" value="{{lore.data.mod.value}}" placeholder="0"/>
                            </div>
                            
                            <div class="item-name item-name-input">
                                <input name="item-name-skill-{{lore.id}}" data-item-id="{{lore.id}}" type="text" data-dtype="String" value="{{lore.name}}" placeholder="New Skill"/>
                                <!-- <h4>
                                    {{lore.data.value}} {{lore.name}}
                                </h4> -->
                            </div>
                        </div>
                                                
                        {{#if ../owner}}
                        <div class="item-controls" style="padding-left: 22px">
                            <!-- <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> -->
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        {{/if}}
                    </li>
                {{/each}}

            </ol>

                
            

            <!-- ability scores -->
            <div class="npc-abilities">
                <h3 class="abilities-title pf-heading">Ability Scores</h3>
                <ol class="abilities-list">
                    {{#each data.abilities as |ability id|}}
<!--                         <li class="ability" data-ability="{{id}}">
                            <span class="ability-name rollable" title="Ability">{{id}}</span>
                            <span class="ability-mod" title="Modifier">
                                <div class="ability-input">
                                    <input name="data.abilities.{{id}}.mod" type="text" value="{{numberFormat ability.mod decimals=0 sign=true}}"
                                        data-dtype="Number" placeholder="+0"/>
                                </div>
                            </span>  -->    
                            <li class="npc-defense" data-ability="{{id}}">
                                <span class="defense-score">
                                <input name="data.abilities.{{id}}.mod" type="text" value="{{numberFormat ability.mod decimals=0 sign=true}}"
                                    data-dtype="Number" placeholder="+0"/>
                                </span>
                                <h4 class="ability-name rollable">{{id}}</h4>                             
                            </li>        
                        </li>
                    {{/each}}
                </ol>
            </div>

<!--             <li class="npc-defense" data-attribute="spelldc">
                    <span class="defense-score">
                    <input name="data.attributes.spelldc.dc" type="text" value="{{data.attributes.spelldc.dc}}"
                        data-dtype="Number" placeholder="10"/>
                    </span>
                    <h4 class="attribute-name">Spell DC</h4>                             
                </li> -->
    

            <!-- Inventory -->
<!--             <ol class="actions-list inventory-list directory-list">
                {{#each actor.features as |section sid|}}
                    <li class="item action-header">
                        <h3 class="item-name pf-heading pf-actions">{{section.label}}</h3>
                        {{#if ../owner}}
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create Feature" data-type="{{sid}}" data-action-type="{{sid}}"><i class="fas fa-plus"></i> Add</a>
                        </div>
                        {{/if}}
                    </li>
                    {{#each section.actions as |action aid|}}
                    <li class="item" data-item-id="{{action.id}}">
                        <div class="item-name rollable">
                            <div class="item-image" style="background-image: url({{action.img}})"></div>
                            <h4>
                                {{action.name}}
                            </h4>
                        </div>
                        {{#if ../../owner}}
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            {{#unless action.feat}}
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            {{/unless}}
                        </div>
                        {{/if}}
                    </li>
                    {{/each}}
                {{/each}}
            </ol> -->
        
    </section>

    <!-- SIDEBAR -->
<!--     <section class="sheet-sidebar sidebar">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img"/>
    </section> -->
</form>
