<div class="form-group">
    <label>{{data.level.label}}</label>
    <select name="data.level.value" data-dtype="{{data.level.type}}">
        {{#select data.level.value}}
        {{#each spellLevels as |name lvl|}}
        <option value="{{lvl}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.spellType.label}}</label>
    <select name="data.spellType.value" data-dtype="{{data.spellType.type}}">
        {{#select data.spellType.value}}
        {{#each spellTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label for="data.traditions">
        {{data.traditions.label}}
        <a class="trait-selector" data-options="magicTraditions"><i class="fas fa-edit"></i></a>
    </label>
    <!-- <input type="text" name="data.traits.value" value="{{data.traits.value}}" data-dtype="{{data.traits.type}}"/> -->
    <ul class="traits-list" style="margin: 3px 0; padding: 0;">
        {{#each data.traditions.value as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>

<div class="form-group">
    <label>{{data.school.label}}</label>
    <select name="data.school.value" data-dtype="{{data.school.type}}">
        {{#select data.school.value}}
        {{#each spellSchools as |name sch|}}
        <option value="{{sch}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.damage.label}}</label>    
    <div class="details-container-two-columns">
        <input type="text" name="data.damage.value" value="{{data.damage.value}}" data-dtype="{{data.damage.type}}"/>
<!--         <select name="data.damage.applyMod" data-dtype="Boolean">
            {{#select data.damage.applyMod}}
            <option value=""></option>
            <option value="true">+ Ability Mod</option>
            {{/select}}
        </select> -->
        <div style="display: flex; align-self: center;">
            <label style="flex: 4;">+ Ability Mod</label>
            <input type="checkbox" name="data.damage.applyMod" value="0" data-dtype="{{data.damage.applyMod}}" {{checked data.damage.applyMod}} style="flex: 1; margin: 0;"/>
        </div>
    </div>
</div>

<div class="form-group">
    <label>{{data.damageType.label}}</label>
    <select name="data.damageType.value" data-dtype="{{data.damageType.type}}">
        {{#select data.damageType.value}}
        <option value=""></option>
        {{#each damageTypes as |name type|}}
        <option value="{{type}}">{{name}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group">
    <label>{{data.save.label}}</label>
    <div class="details-container-two-columns">
    <select name="data.save.basic" data-dtype="{{data.save.type}}">
        {{#select data.save.basic}}
        <option value=""></option>
        <option value="basic">basic</option>
        {{/select}}
    </select>
    <select name="data.save.value" data-dtype="{{data.save.type}}">
        {{#select data.save.value}}
        <option value=""></option>
        {{#each saves as |ability a|}}
        <option value="{{a}}">{{ability.label}}</option>
        {{/each}}
        {{/select}}
    </select>
    </div>
</div>

<div class="form-group">
    <label>{{data.components.label}}</label>
    <input type="text" name="data.components.value" value="{{data.components.value}}" data-dtype="{{data.components.type}}"/>
</div>

<div class="form-group">
    <label>Requirements</label>
    <input type="text" name="data.materials.value" value="{{data.materials.value}}" data-dtype="{{data.materials.type}}"/>
</div>

<div class="form-group">
    <label>{{data.cost.label}}</label>
    <input type="text" name="data.cost.value" value="{{data.cost.value}}" data-dtype="{{data.cost.type}}"/>
</div>

<div class="form-group">
    <label>{{data.target.label}}</label>
    <input type="text" name="data.target.value" value="{{data.target.value}}" data-dtype="{{data.target.type}}"/>
</div>

<!-- <div class="form-group">
    <label>{{data.area.label}}</label>
    <input type="text" name="data.area.value" value="{{data.area.value}}" data-dtype="{{data.area.type}}"/>
</div> -->

<div class="form-group">
    <label>{{data.area.label}}</label>
    <div class="details-container-two-columns">
        <select name="data.area.value" data-dtype="Number">
            {{#select data.area.value}}
            <option value=""></option>
            {{#each areaSizes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="data.area.areaType" data-dtype="String">
            {{#select data.area.areaType}}
            <option value=""></option>
            {{#each areaTypes as |name type|}}
            <option value="{{type}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{data.range.label}}</label>
    <input type="text" name="data.range.value" value="{{data.range.value}}" data-dtype="{{data.range.type}}"/>
</div>

<div class="form-group">
    <label>{{data.time.label}}</label>
    <input type="text" name="data.time.value" value="{{data.time.value}}" data-dtype="{{data.time.type}}"/>
</div>

<div class="form-group">
    <label>{{data.duration.label}}</label>
    <input type="text" name="data.duration.value" value="{{data.duration.value}}" data-dtype="{{data.duration.type}}"/>
</div>

<!-- <div class="form-group">
    <label>{{data.sustained.label}}</label>
    <input type="checkbox" name="data.sustained.value" value="1" data-dtype="{{data.sustained.type}}" {{checked data.sustained.value}}/>
</div> -->

<!--  <div class="form-group">
    <label>{{data.ritual.label}}</label>
    <input type="checkbox" name="data.ritual.value" value="1" data-dtype="{{data.ritual.type}}" {{checked data.ritual.value}}/>
</div> -->

<!-- <div class="form-group">
    <label>{{data.ability.label}}</label>
    <select name="data.ability.value" data-dtype="{{data.ability.type}}">
        {{#select data.ability.value}}
        <option value=""></option>
        {{#each abilities as |ability a|}}
        <option value="{{a}}">{{ability.label}}</option>
        {{/each}}
        {{/select}}
    </select>
</div> -->

<!--  <div class="form-group">
    <label>{{data.prepared.label}}</label>
    <input type="checkbox" name="data.prepared.value" value="1" data-dtype="Boolean" {{checked data.prepared.value}}/>
</div> -->

<div class="form-group-stacked">
    <label for="data.traits">
        {{data.traits.label}}
        <a class="trait-selector" data-options="spellTraits"><i class="fas fa-edit"></i></a>
    </label>
    <!-- <input type="text" name="data.traits.value" value="{{data.traits.value}}" data-dtype="{{data.traits.type}}"/> -->
    <ul class="traits-list">
        {{#each data.traits.value as |v k|}}
            <span class="tag {{k}}">{{v}}</span>
        {{/each}}
    </ul>
</div>