<div class="tab spellbook" data-group="primary" data-tab="spellbook">

    
        <ol class="spellcastingEntry-list directory-list">
            {{#each actor.spellcastingEntries as |entry eid|}}  
            <li class="item item-container" data-container-type="spellcastingEntry" data-container-id="{{entry.id}}">
                <div class="action-header" style="display:flex;" >
                    {{#if entry.data.prepared.preparedSpells}}
                        <a class="skill-name prepared-toggle" title="Toggle Spell Visibility" style="line-height: 24px; background: var(--primary-background);"><i class="fas fa-haykal"></i></a>
                    {{/if}}
                    <h3 class="item-name pf-heading pf-actions hide-container-toggle" style="padding-left: 32px;">{{{entry.name}}}</h3>
                    {{#if ../owner}}
                    <div class="item-controls" style="display: flex; background: var(--primary-background); color: white;">
                        <a class="item-control spellcasting-remove" title="Remove Spellcasting Entry" data-type="{{eid}}" style="align-self: center;"><i class="fas fa-minus"></i> Del</a>
                    </div>
                    {{/if}}
                </div>
                {{#unless entry.data.tradition.ritual}}
                    <ol class="skills-list">
                        <li class="skill-grid">

                            <span class="skill-score" title="{{entry.data.spelldc.breakdown}}">{{entry.data.spelldc.dc}}</span>
                            <h4 class="skill-name">Spell DC</h4>
                            
                            <div class="skill-container">
                                <h4 class="skill-proficiency pf-title">Prof</h4>
                                <input type="hidden" name="data.items.{{eid}}.data.proficiency.value" value="{{entry.data.proficiency.value}}" data-dtype="Number"/>
                                <span class="skill-proficiency pf-value pf-rank proficiency-click" title="{{entry.data.spelldc.hover}}">{{{entry.data.spelldc.icon}}}</span>
                            </div>
                            <div class="skill-container">
                                <h4 class="skill-item pf-title">Item</h4>
                                <span class="skill-item pf-value item-value-input" title="Item">
                                    <input type="text" name="data.items.{{eid}}.data.item.value" value="{{entry.data.item.value}}"
                                            data-dtype="Number" placeholder="+0"/>
                                </span>
                            </div>
            
                        </li>
                        <li class="pf-two-grid">
                            <label class="skill-name">Spell Ability</label>
                            <div class="skill-name">
                                <select class="ability-select" name="data.items.{{eid}}.data.ability.value" data-type="String">
                                    {{#select entry.data.ability.value}}
                                    <option value="">None</option>
                                    {{#each ../data.abilities as |abl a|}}
                                    <option value="{{a}}">{{abl.label}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </li>
                    </ol>
                {{/unless}}
            
            
            {{#unless entry.data.prepared.preparedSpells}}

                <!-- Everything except prepared spells -->
                <ol class="inventory-list directory-list" style="margin-bottom: 2px">

                        <!-- Add section for each spell level -->
                        {{#each entry.spellbook as |section lvl|}}
                            <li class="item inventory-header spellbook-header" style="background: var(--secondary-background);" data-item-id="{{entry.id}}" data-level="{{lvl}}">
                                <div class="item-name flexrow">
                                    <h3>{{section.label}}</h3>
                    
                                    {{#unless entry.data.tradition.ritual}}
                                        {{#unless section.isCantrip}}
                                        <span class="spell-slots-input">
                                            <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.value" value="{{section.uses}}" placeholder="0" data-type="Number"/>
                                        </span>
                                        <span class="flex0"> / </span>
                                        <span class="spell-max-input">
                                            <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-type="Number"/>
                                        </span>
                                        {{else}}
                                        <span class="spell-slots">&infin;</span>
                                        <span class="flex0"> / </span>
                                        <span class="spell-max">&infin;</span>
                                        {{/unless}}
                                    {{/unless}}
                                </div>
                    
                                <div class="spell-school-header">School</div>
                                <div class="spell-action-header">Action</div>
                    
                                {{#if ../../owner}}
                                <div class="item-controls">
                                    <a class="item-control spell-create" title="Create Spell" data-type="spell"
                                        data-level="{{lvl}}" data-location="{{entry.id}}"><i class="fas fa-plus"></i></a>
                                    <a class="item-control spell-browse" title="Open Spell Browser" data-type="spell"
                                    data-level="{{lvl}}" data-location="{{entry.id}}"><i class="fas fa-search"></i></a>
                                </div>
                                {{/if}}
                            </li>
                    
                            <!-- Add spell items for each spell level -->
                            {{#each section.spells as |item i|}}
                            <li class="item" data-item-id="{{item.id}}">
                                <div class="item-name rollable">
                                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                                    <h4>{{item.name}}</h4>
                                </div>
                    
                                <div class="spell-school">{{item.data.school.str}}</div>
                                <div class="spell-action">{{item.data.time.value}}</div>
                    
                                {{#if ../../../owner}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                            
                    
                        {{else}}
                            <!-- Add Spells Row -->
                            <li class="item inventory-header spellbook-header spellbook-empty">
                                {{#if ../owner}}
                                <div class="item-controls pf-bluelist pf-add-item-row" style="flex: 1; background: var(--secondary-background); display: flex">
                                    <a class="item-control spell-create" title="Create Spell" data-type="spell"
                                        data-level="{{lvl}}" data-location="{{entry.id}}" style="flex: 1;"><i class="fas fa-plus"></i> Add Spell</a>
                                    <a class="item-control spell-browse" title="Open Spell Browser" data-type="spell"
                                        data-level="{{lvl}}" data-location="{{entry.id}}" style="flex: 1;"><i class="fas fa-search"></i> Open Spell Browser</a>
                                </div>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ol>
            {{else}}
            
                <!-- Prepared Spells -->
                <ol class="inventory-list directory-list">

                    <!-- Add section for each level -->
                    {{#each entry.spellbook as |section lvl|}}
                        <li class="item inventory-header spellbook-header" style="background: var(--secondary-background);" data-item-id="{{entry.id}}" data-level="{{lvl}}">
                            <div class="item-name flexrow">
                                <h3>{{section.label}}</h3>
                
                                {{#if section.isFocus}}
                                <span class="spell-slots-input">
                                    <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.value" value="{{section.uses}}" placeholder="0" data-type="Number"/>
                                </span>
                                <span class="flex0"> / </span>
                                <span class="spell-max-input">
                                    <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-type="Number"/>
                                </span>
                                {{else}}
                                <span class="spell-max-input">
                                    <input type="text" name="data.items.{{eid}}.data.slots.slot{{lvl}}.max" value="{{section.slots}}" placeholder="0" data-type="Number"/>
                                </span>
                                {{/if}}
                            </div>
                
                            <div class="spell-school-header">School</div>
                            <div class="spell-action-header">Action</div>
                
                            {{#if ../../owner}}
                            <div class="item-controls">
                                <a class="item-control spell-create" title="Create Spell" data-type="spell"
                                    data-level="{{lvl}}" data-location="{{entry.id}}"><i class="fas fa-plus"></i></a>
                                <a class="item-control spell-browse" title="Open Spell Browser" data-type="spell"
                                data-level="{{lvl}}" data-location="{{entry.id}}"><i class="fas fa-search"></i></a>
                            </div>
                            {{/if}}
                        </li>
                
                        {{#unless section.isFocus}}
                            {{#each section.prepared as |item i|}}
                            
                                {{#if item.prepared}}    
                                    <li class="item" data-item-id="{{item.id}}" data-slot-id="{{i}}" data-spell-lvl="{{lvl}}" data-entry-id="{{entry.id}}">
                                        <div class="item-name">                    
                                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                                            <h4>{{item.name}}</h4>
                                        </div>
                
                                        <div class="spell-school">{{item.data.school.str}}</div>
                                        <div class="spell-action">{{item.data.time.value}}</div>
                        
                                        {{#if ../../../owner}}
                                        <div class="item-controls">
                                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-unprepare" title="Unprepare Item"><i class="fas fa-minus-square"></i></a>
                                        </div>
                                        {{/if}}
                                    </li>
                                {{else}}
                                    <li class="item" data-item-id="{{i}}" data-spell-lvl="{{lvl}}" data-item-type="spellSlot" data-entry-id="{{entry.id}}">
                                        <div class="item-name" style="padding-left:30px;">
                                            <h4>{{item.name}}</h4>
                                        </div>
                                    </li>
                                {{/if}}
                            
                            {{/each}}
                
                            
                            
                            {{#if entry.showUnpreparedSpells}}
                            <h3 class="item-name pf-sub-category pf-actions" style="background: var(--tertiary-background);">Unprepared Spells</h3>
                                    
                            <!-- Unprepared Spells -->
                                {{#each section.spells as |item i|}}
                                    <li class="item" data-item-id="{{item.id}}">
                                        <div class="item-name rollable">
                                            <div class="item-image" style="background-image: url({{item.img}})"></div>
                                            <h4>{{item.name}}</h4>
                                        </div>
                
                                        <div class="spell-school">{{item.data.school.str}}</div>
                                        <div class="spell-action">{{item.data.time.value}}</div>
                
                                        {{#if ../../../owner}}
                                        <div class="item-controls">
                                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                        </div>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            {{/if}}
                        {{else}}
                            <!-- Add spell items for each level -->
                            {{#each section.spells as |item i|}}
                            <li class="item" data-item-id="{{item.id}}">
                                <div class="item-name rollable">
                                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                                    <h4>{{item.name}}</h4>
                                </div>
                
                                <div class="spell-school">{{item.data.school.str}}</div>
                                <div class="spell-action">{{item.data.time.value}}</div>
                
                                {{#if ../../../owner}}
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                                {{/if}}
                            </li>
                            {{/each}}
                        {{/unless}}
                        
                
                    {{else}}
                        <!-- Add spells row -->
                        <li class="item inventory-header spellbook-header spellbook-empty">
                            {{#if ../owner}}
                            <div class="item-controls pf-bluelist pf-add-item-row" style="flex: 1; background: var(--secondary-background); display: flex;">
                                    <a class="item-control spell-create" title="Create Spell" data-type="spell"
                                    data-level="{{lvl}}" data-location="{{entry.id}}" style="flex: 1;"><i class="fas fa-plus"></i> Add Spell</a>
                                <a class="item-control spell-browse" title="Open Spell Browser" data-type="spell"
                                    data-level="{{lvl}}" data-location="{{entry.id}}" style="flex: 1;"><i class="fas fa-search"></i> Open Spell Browser</a>
                            </div>
                            {{/if}}
                        </li>
                    {{/each}}
                </ol>


            {{/unless}}
        </li>


        {{/each}}
    

        <ol class="singleColumn-list" style="margin-bottom: 2px;">
            <li class="item inventory-header spellbook-header spellbook-empty">
                {{#if owner}}
                <div class="item-controls pf-bluelist pf-add-item-row">
                    <a class="item-control spellcasting-create" title="Create Spell" data-type="spell"
                        data-level="{{lvl}}"><i class="fas fa-plus"></i> Add Spellcasting Entry</a>
                </div>
                {{/if}}
            </li>
        </ol>

        {{#if actor.orphanedSpells}}
        <ol class="inventory-list directory-list" style="height: auto;">        
            <li class="item inventory-header spellbook-header">
                <div class="item-name flexrow " style="flex: 1; background: var(--secondary-background);">
                    <h3>Orphaned Spells (move to spellcasting entry above)</h3>
                </div>
            </li>

            {{#each actor.orphanedSpellbook as |section lvl|}}
                {{#each section.spells as |item i|}}
                <li class="item" data-item-id="{{item.id}}">
                    <div class="item-name rollable">
                        <!-- <div class="item-image" style="background-image: url({{item.img}})"></div> -->
                        <h5 style="margin: 0; flex: 2;">{{item.name}}</h5>
                    </div>
    <!-- 
                    <div class="spell-school">{{item.data.school.str}}</div>
                    <div class="spell-action">{{item.data.time.value}}</div> -->

                    {{#if ../../owner}}
                    <div class="item-controls">
                        <!-- <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a> -->
                        <a class="item-control item-delete" title="Delete Item" style="margin-left: 22px;"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
                {{/each}}
            {{/each}}
        </ol>
        {{/if}}
    </ol>
        
   </div>